.jumbotron {
    background: url("../assets/skybackground.jpg") center bottom;
    background-size: cover;
    height: 50vh;
    margin-bottom: 0;
    color: white;
    
}

.display-4{
    color: white;
    font-weight: 500;
}